@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(Roboto-Bold.ttf);
}

body {
    font-family: Roboto;
    color: white;
    background-color: rgb(28, 34, 48);
    margin: auto;
    padding: 2em;
    max-width: 600px;
    display: flex;
    align-items: flex-start;
}

div#left-column {
    border-right: white solid 1px;
    flex: 1 1 250px;
    padding: 1em;
    line-height: 1.5em;
    text-align: right;
}

div#right-column {
    flex: 1 1 350px;
    padding: 1em;
    line-height: 1.5em;
    text-align: left;
}

h1#name {
    font-family: RobotoBold;
    font-size: 32pt;
}

h2#projects {
    margin: 10.5% auto;
}