@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(Roboto-Bold.ttf);
}

body {
    font-family: Roboto;
    color: white;
    background-color: rgb(28, 34, 48);
}

div#top {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#name {
    font-family: RobotoBold;
    font-size: 2.67em;
    line-height: normal;
    border-bottom: white solid 1px;
    text-align: center;
    min-width: 600px;
}

div#content {
    margin: auto;
    max-width: 600px;
    display: flex;
}

div#left-column,
#right-column {
    padding: 1em;
    line-height: 1.5em;
    float: left;
    width: 50%;
}

div#left-column {
    flex: 1 1 300px;
    text-align: right;
}

div#right-column {
    border-left: white solid 1px;
    flex: 1 1 300px;
    text-align: left;
}

h1,
h2 {
    margin-block-end: 0em;
}

h2#topcol {
    margin-block-start: 0em;
}